
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.middle{
    display: flex;
    
}
.middle h4{
    margin-right:20px ;
}
#nav-btn
{
    background: rgba(70, 145, 101, 1);
    color:white;
    border:none;
    padding:15px;
}
.banner
{
    background-image:url('/assets/hero-bg.png');
    padding: 120px;
    
}
.child{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap:20px;
}
.banner h2 
{
   font-size:60px;
}
#first{
    color:white;
}
#second
{
    color:#30B868;
    margin-top:2px;
}
#para
{
    color:white;
}
.btn-div button{
    padding:15px;
    color:white;
}
#first-btn{
    background-color:#30B868;
    border:none;
}
#second-btn{
    border:1px solid white;
    background:transparent;
}
.container img{
    background-color: #F95555;
    height:30px;
    width:30px;
    border-radius: 50%;
    padding:20px;
    margin-top:5px;
;
}
.container{
    display:flex;
   
    padding:10px;
    gap:10px;
}
.box{
    
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:0px;
    text-align: center;
 box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
;
}
.brain-part
{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:40px;
}
#brain{
    width:500px;
}
.left-div{
    width:45%;
}
.right-div{
    width:45%;
}