.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.middle{
    display: flex;
    
}
.middle h4{
    margin-right:20px ;
}
#nav-btn
{
    background: rgba(70, 145, 101, 1);
    color:white;
    border:none;
    padding:15px;
}